*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --black-square-color: #4b4747;
    --white-square-color: #ffffff;
    --danger-square-color:#f76176;
    --lighted-square-color: #7aaccc;
    --available-square-color:  #b990ca;
    --blocked-square-color: #c25766;
  }

#canvas {
    display: inline-block;
}
h1{
    color:var(--white-square-color);
}
.times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;

}

.forfeitText{
    margin-top:auto;
    margin-bottom:auto;
    font-size:20px;
    font-family:monospace;
    color:#ed5e75;
    font-weight:600;
    margin-right:20px;
}

.exitButton{
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border-radius:8px;
    border:solid 2px 2px 2px 2px;
    border-color:var(--black-square-color);
    cursor:pointer;
    background:none;
    background:var(--white-square-color);
}

.message{
    background:none;
    color:var(--black-square-color);
    justify-content:center;
    width:fit-content;
    height:fit-content;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    /* display:none; */
}

body{
    min-width:fit-content;
    margin:0;
    background-size: 800px 800px;
    background-position: 0 0, 0 400px, 400px -400px, -400px 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


html{
    min-width:fit-content;
}

.canvasContainer{
    justify-content: center;
}



.lobbyGame{
    grid-row-start:span 1;
    grid-column-start:span 1;
}

.black{
    background:var(--black-square-color);
    color: var(--white-square-color);
    width:25vw;
    height:25vw;
    font-size:2vw;
    
}

.container{
    margin-left: auto;
    max-width: fit-content;
    margin-right: auto;
}

.white{
    background:white;
    color: var(--black-square-color);
    width:25vw;
    height:25vw;
    font-size:2vw;
}

.column{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
}

.mode-row{
    display:flex;
    flex-direction: row;
    align-items: center;
}



@media only screen and (max-width: 600px) {
    .black{
        background:var(--black-square-color);
        color: var(--white-square-color);
        width:100vw;
        height:100vw;
    }
    .white{
        background:var(--white-square-color);
        color: var(--black-square-color);
        width:100vw;
        height:100vw;
    }
  }


  #gameName{
      background:var(--white-square-color);
      border:solid;
      padding:32px;
      border-radius:8px;
      color:var(--black-square-color);
      font-size:18px;   
      font-weight:600;
  }

  #gameName::placeholder{
      color:var(--black-square-color);
      font-weight:500;
      text-align:center;
  }

  .createButton{
      /* background:var(--black-square-color);
      color:var(--white-square-color);
      padding:25px;
      padding-left:100px;
      padding-right:100px;
      font-size:18px;
      font-weight:600;
      border-radius:50px;
      cursor:pointer;
      margin-top:50px;
      box-shadow:none;
      border:var(--black-square-color); */
      all: unset;
      cursor: pointer;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 20px;
      background: #F7DFDA;
      color: #7D6650;
      font-size: 2em;
      font-weight: bolder;
      text-align: center;
  }

  select{
    all:unset;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    background: #F7DFDA;
    color: #7D6650;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
  }   

  .createButton:hover{
      color:var(--white-square-color);
      background:var(--danger-square-color);
  }
 
  .games{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      align-items:center;
      justify-content:space-around;
      padding:20px;
      text-align:center;
      padding-bottom:50px;
  }


  .games > lobby-game{
      margin-top:10px;
      margin-bottom:10px;
      margin-left:15px;
      margin-right:15px;
  }
  html{
      font-family:"Lucida Console", Monaco, monospace ;
      height:100vh;
      background:#B0A875;

  }

  .cWhite{
      color:var(--white-square-color);
  }

  .gameModeSelected{
      color:var(--black-square-color);
      border:solid;
      background:var(--white-square-color);
      border:solid;
      padding:10px;
      cursor:pointer;
  }

  .gameMode{
    color:var(--white-square-color);
    border:solid;
    border-color:var(--white-square-color);
    border: 2px 2px 2px 2px;
    border:solid;
    padding:10px;
    cursor:pointer;
}

.gameMode:hover{
    color:var(--black-square-color);
    border:solid;
    background:var(--white-square-color);
    border:solid;
    padding:10px;
    cursor:pointer;
}
.topMenu{
    width:100%;
    z-index:1000;
    top:0;
}
 
.text{
    background:var(--black-square-color); margin-top:50px; width:50%;
    margin-left:auto; margin-right:auto;
    font-size:1.5vh !important;
    padding:50px;
    border-radius:8px;
}


.clock{
    font-size:16px;
    /* margin-left:50px;
    margin-right:50px; */
    margin-top:auto;
    margin-bottom:auto;
    /* color:var(--black-square-color); */
}

#whiteClock{
    text-align:right;
}


.lobbyGame{
    display:flex;
    flex-direction:column;
    border:solid;
    border: 2px 2px 2px 2px;
    border-color:white;
    border-radius:8px;
    padding:16px;
    color:white;
  }



  .linkHeader{
    text-align:center;
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:25px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }


  .startGame{
    color:white;
    border:solid;
    border-color:white;
    padding:15px;
    font-size:18px;
    border:2px 2px 2px 2px;
    cursor:pointer;
    text-decoration:none;
  }
  .startGame:hover{
    color:black;
    background:white;
  }
  .span{
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:15px;
  }

  .games{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
  }

  .racePickImage{
      max-width:5vw;
      min-width:50px;
  }

  .racePickImage:hover{
    background-color:white;
    border-radius:50px;
  }

  .racePickImageSelectedWhite{
    background-color:white;
    border-radius:50px;
  }

  .racePickImageSelectedBlack{
    background-color:white;
    border-radius:50px;
  }

 .marginMedium {
     margin:50px;
     display:flex;
     flex-direction: column;
     justify-content: stretch;
     gap:20px;
 }
 .pieces{
    display:flex;
    flex-direction:column;
    width:50vw;
    max-width:300px;
}
 .modal{
    position:absolute;
    max-width:600px;
    height:max-content;
    width:90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgb(204,166,131,0.5);
    padding:20px;
 }


 @media only screen and (max-width: 600px) {
   .modal{
    /* top:auto; */
    width:90%;
   }
 }

 .displayNone{
    display:none !important;
 }

 .pieceModal{
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    position:absolute;
    background-color: rgb(204,166,131,0.5);
    align-items: center;
 }

 .campaign > h2{
    margin-bottom:0px;
 }
 .campaign > a{
    display:inline-flex;
    align-items: center;
    text-decoration: none;
    margin-top:15px;
 }
 .campaign > a > img{
    width:50px;    
 }

 #blackPlayerSelect, #whitePlayerSelect{
    margin-left:10px;
 }

 .movesFirstRow{
    margin-top:10px;
 }